{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/typescript",
    "@babel/preset-react"
  ],
  "plugins": ["@babel/transform-runtime"]
}
